@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

.opacity-fade-in {
  transition-duration: .33s;
  transition-property: opacity;
  transition-timing-function: ease-out;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.opacity-70 {
  opacity: 0.7;
}

.fs-hero {
  font-size: calc(1.375rem + 15.5vw);

  @include media-breakpoint-up(xxl) {
    font-size: 14rem;
  }
}

.fs-dwarf {
  &-1 {
    font-size: 0.7em;
  }

  &-2 {
    font-size: 0.475em;
  }
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  background: $light no-repeat center / cover;

  &--github {
    background-image: url("./icon-github.png");
  }

  &--hexlet {
    background-image: url("./icon-hexlet.png");
  }
}

.avatar {
  position: relative;
  padding: map-get($spacers, 3);
  border-radius: $border-radius-pill;
}

.avatar__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $light;
  font-size: $h6-font-size;
}

.message {
  display: flex;
  align-items: flex-end;

  &--mirror {
    justify-content: flex-end;

    .message__body {
      order: -1;
      margin-left: 0;
      margin-right: map-get($spacers, 2);
      background-color: $info;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: $border-radius-lg;
    }

    .message__username {
      text-align: right;
    }

    .message__avatar {
      background-color: $info;
    }
  }
}

.message__body {
  max-width: 80%;
  margin-left: map-get($spacers, 2);
  padding: map-get($spacers, 2) map-get($spacers, 3);
  border-radius: $border-radius-lg;
  border-bottom-left-radius: 0;
  background-color: $success;
  color: $light;
}

.message__text {
  margin-bottom: map-get($spacers, 1);
}

.message__username {
  font-size: $small-font-size;
  font-style: italic;
}

.message__avatar {
  font-weight: 400;
  background-color: $success;
}

.col-channels {
  width: 100%;

  .navbar-collapse {
    max-height: 115px;
    overflow: auto;
  }

  @include media-breakpoint-up(md) {
    max-width: 205px;
    height: 100%;

    .navbar-collapse {
      max-height: initial;
    }
  }
}

.col-chat {
  height: calc(100% - 56px);

  @include media-breakpoint-up(md) {
    height: 100%;
  }
}

.navbar-toggler .navbar-toggler-icon {
  display: none;
}

.navbar-toggler {
  &.collapsed {
    .navbar-toggler-icon {
      display: block;
    }

    .btn-close {
      display: none;
    }
  }

  .navbar-toggler-icon {
    display: none;
  }

  .btn-close {
    display: block;
  }
}
